<!doctype html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Pet House</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <link rel="stylesheet" href="./css/styleAccesorios.css" type="text/css">
  <link rel="icon" href="/imagenes/logo.ico">
</head>

  <section class="container-fluid ">
    <div class="container pb-3 pt-3">
      <div class="row botones">
        <div class="col">
          <a href="@Url.Action("Index","petHousePetShopAlimSeco")"><button class="btn btn-primary text-light " type="button">Alimento seco
              para perros</button></a>
        </div>
        <div class="col">
          <a href="@Url.Action("Index","petHousePetShopAlimHumedo")"><button class="btn btn-primary text-light" type="button">Alimento
              húmedo para perros</button></a>
        </div>
        <div class="col text-center">
          <a href="@Url.Action("Index","petHousePetShopJuguetes")"> <button class="btn btn-primary text-light"
              type="button">Juguetes</button>
          </a>
        </div>
        <div class="col">
          <a href="@Url.Action("Index","petHousePetShopAccesorios")"> <button id="bRA" class="btn btn-primary text-dark "
              type="button">Ropa y Accesorios
            </button> </a>
        </div>
      </div>
      <!--------------------------------------PRODUCTOS------------------------------->
      <div class="container pt-3">
        <div class="row">
          <div class="col align-items-center">
            <a href="@Url.Action("Index","petHouseCarrito2")">

              <img src="./imagenes/ac2.jpg" alt="" width="140" height="150">
            </a>
            <h4 class="text-dark">Enterizo Santa </h4>
            <h4 class="text-dark">S/18.00</h4>
          </div>
          <div class="col">
            <img src="./imagenes/ac2.jpg" alt="" width="140" height="150">
            <h4 class="text-dark">Smocking con Michi </h4>
            <h4 class="text-dark">S/63.00</h4>
          </div>
          <div class="col">
            <img src="./imagenes/ac3.png" alt="" width="140" height="150">
            <h4 class="text-dark">Zeedog Arnés Air Mesh Prisma</h4>
            <h4 class="text-dark">S/71.00</h4>
          </div>
          <div class="col">
            <img src="./imagenes/ac4.png" alt="" width="140" height="150">
            <h4 class="text-dark">Zeedog arnés Soft walk modelo Fatboy </h4>
            <h4 class="text-dark">S/104.00</h4>
          </div>



          <!--------------------------------------PRODUCTOS SEGUNDA FILA------------------------------->
        </div>
        <div class="container">
          <div class="row">
            <div class="col">
              <img src="./imagenes/ac5.png" alt="" width="140" height="150">
              <h4 class="text-dark">Comedero para perros modelo Black</h4>
              <h4 class="text-dark">S/56.00</h4>
            </div>
            <div class="col">
              <img src="./imagenes/ac6.png" alt="" width="140" height="150">
              <h4 class="text-dark">comedero de acero inoxidable de 32 oz</h4>
              <h4 class="text-dark">S/34.40</h4>
            </div>
            <div class="col">
              <img src="./imagenes/ac7.png" alt="" width="140" height="150">
              <h4 class="text-dark">Furminator Undercoat Perros grandes de pelo largo</h4>
              <h4 class="text-dark">S/170.90</h4>
            </div>
            <div class="col">
              <img src="./imagenes/ac8.png" alt="" width="140" height="150">
              <h4 class="text-dark">Furminator dual brush</h4>
              <h4 class="text-dark">S/80.00</h4>
            </div>

            <!--------------------------------------MARCAS EN VENTA------------------------------->
          </div>
          <div id="marcas" class="container pt-3 pb-1">
            <h3 class="text-center">ASOCIADAS CON MARCAS RECONOCIDAS</h3>
            <div class="row">
              <div class="col">
                <img src="./imagenes/log6.png" alt="" width="100" height="60">

              </div>
              <div class="col">
                <img src="./imagenes/log1.jpg" alt="" width="100" height="46">

              </div>
              <div class="col">
                <img src="./imagenes/log2.png" alt="" width="100" height="46">

              </div>
              <div class="col">
                <img src="./imagenes/log3.jpg" alt="" width="120" height="50">

              </div>
              <div class="col">
                <img src="./imagenes/log4.jpg" alt="" width="180" height="70">
              </div>
              <div class="col">
                <img src="./imagenes/log5.png" alt="" width="100" height="80">
              </div>
              <div class="col">
                <img src="./imagenes/log7.png" alt="" width="180" height="50">
              </div>
            </div>
  </section>